#files to ignore
*~      #gedit backup files
*.swp   #vim swap files
*.pyc   #python files
exp/*   #experiments
*.bak
*.swp

#Don't track the image files:
*.png
*.jpg

#Don't track the binary data files:
*.npy
*.pkl
*.pickle

