#files to ignore
*~      #gedit backup files
*.swp   #vim swap files
*.pyc   #python files
expr/*   #experiments
*.bak
*.swp

#Don't track the image files:
*.png
*.jpg

#Don't track the binary data files:
*.npy
*.pkl
*.pickle

# C ignore files:
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lai
*.lo
*.slo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Fortran module files
*.mod

